<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinhanDS.first.project.product.ProductMapper">
	
	<select id="Product_more" parameterType="sinhanDS.first.project.product.vo.ProductVO">
		SELECT * 
		FROM product
		where no = ${no}
	</select>
	
	<select id="QNA_list" parameterType="sinhanDS.first.project.product.vo.ProductQnAVO" resultType="sinhanDS.first.project.product.vo.ProductQnAVO">
		SELECT *  
		FROM product_qna
		where product_no = ${no} 
		ORDER BY no DESC
	</select>
	
	<select id ="Review_list" parameterType = "sinhanDS.first.project.product.vo.ReviewVO" resultType= "sinhanDS.first.project.product.vo.ReviewVO">
		SELECT * 
		FROM review
		where product_no = ${no}
		ORDER BY no DESC 
	</select>
	
	<select id="Seller_no" parameterType="sinhanDS.first.project.product.vo.ProductVO">
		SELECT seller_no
		FROM product
		where no = ${product_no}
	</select>
	
	
	<insert id="QNA_insert" parameterType="sinhanDS.first.project.product.vo.ProductQnAVO">
		INSERT INTO product_qna
		(seller_no, product_no, user_no, question_content, question_write_date, status)
		VALUES
		(#{seller_no}, #{product_no}, #{user_no}, #{question_content}, NOW(), 0);
			<selectKey keyProperty="no" order="AFTER" resultType="int">
				SELECT LAST_INSERT_ID()
			</selectKey>
    </insert>
	
	

	

	<select id="product_list" resultType="sinhanDS.first.project.product.vo.ProductVO">
		SELECT *
		FROM product
	</select>
</mapper>