<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinhanDS.first.project.product.ProductMapper">
	
	<!-- 조회 -->
	<select id="list" parameterType="sinhanDS.first.project.product.vo.ProductQnAVO" resultType="sinhanDS.first.project.product.vo.ProductQnAVO">
		SELECT question_content 
		FROM product_qna 
		WHERE product_no = {#product_no}
		ORDER BY no DESC
	</select>
	
	<insert id="regist" parameterType="sinhanDS.first.project.product.vo.ProductVO">
		INSERT INTO PetShoppingMall.product
		(
			seller_no, name, price, discount, stock,
			company, brand, rating, image_url, description
		)
		VALUES
		(
			#{seller_no }, #{name }, #{price }, #{discount }, #{stock },
			#{company }, #{brand }, #{rating }, #{image_url }, #{description }
		);
	</insert>
</mapper>