<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinhanDS.first.project.seller.SellerMapper">
	
	<select id="login" parameterType="sinhanDS.first.project.seller.vo.SellerVO" resultType="sinhanDS.first.project.seller.vo.SellerVO">
		SELECT * FROM seller WHERE id=#{id} AND password=MD5(#{password})
	</select>
	
			
	<insert id="regist_product" parameterType="sinhanDS.first.project.product.vo.ProductVO">
		INSERT INTO PetShoppingMall.product
		(
			seller_no, name, price, discount, stock,
			company, brand, rating, image_url, description
		)
		VALUES
		(
			#{seller_no }, #{name }, #{price }, #{discount }, #{stock },
			#{company }, #{brand }, #{rating }, #{image_url }, #{description }
		);
		<selectKey keyProperty="no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="regist_category" parameterType="sinhanDS.first.project.product.vo.ProductCategoryVO">
		INSERT INTO PetShoppingMall.product_category
		(
			product_no,
			category1,
			category2
		)
		VALUES
		(
			#{product_no},
			#{category1},
			#{category2}
		);
		
	</insert>
	
	<insert id="regist_option" parameterType="sinhanDS.first.project.product.vo.ProductOptionVO">
		INSERT INTO PetShoppingMall.product_option
		(
			product_no,
			title,
			content,
			price
		)
		VALUES
		(
			#{product_no},
			#{title},
			#{content},
			#{price}
		);
	</insert>
	
	<update id="edit_product" parameterType="sinhanDS.first.project.product.vo.ProductVO">
		UPDATE PetShoppingMall.product
		SET
			seller_no = #{seller_no},
			name = #{name},
			price = #{price},
			discount = #{discount},
			stock = #{stock},
			company = #{company},
			brand = #{brand},
			rating = #{rating},
			image_url = #{image_url},
			description = #{description}
		WHERE no = #{no};
	</update>
	
	<!-- 
	
	 -->
	<delete id="remove_category" parameterType="int">
		DELETE FROM PetShoppingMall.product_category
		WHERE product_no = #{product_no};
		
	</delete>
	
	<delete id="remove_option" parameterType="int">
		DELETE FROM PetShoppingMall.product_option
		WHERE product_no = #{product_no};
		
	</delete>
	
	
	
	<select id="getProductList" parameterType="int" resultType="sinhanDS.first.project.product.vo.ProductVO">
		SELECT * FROM product WHERE seller_no = #{seller_no}
	</select>
	<select id="getProduct" parameterType="int" resultType="sinhanDS.first.project.product.vo.ProductVO">
		SELECT * FROM product WHERE no = #{no}
	</select>
	
	<!-- List<ProductCategoryVO> categoryList(int no); -->
	<select id="getCategoriesList" parameterType="int" resultType="sinhanDS.first.project.product.vo.ProductCategoryVO">
		SELECT * FROM product_category WHERE product_no = #{product_no}
	</select>
	<select id="getOptionsList" parameterType="int" resultType="sinhanDS.first.project.product.vo.ProductOptionVO">
		SELECT * FROM product_option WHERE product_no = #{product_no}
	</select>
	
	
	<select id="check_password" parameterType="sinhanDS.first.project.seller.vo.SellerVO" resultType="int">
		SELECT count(*) FROM seller WHERE no = #{no} AND password = MD5(#{password})
	</select>
	
	<insert id="seller_regist" parameterType="sinhanDS.first.project.seller.vo.SellerVO">
		INSERT INTO seller (
			id, name, email, password, phone, business_number, zipcode, addr1, addr2, bank, account
		) VALUES (
			#{id}, #{name}, #{email}, MD5(#{password}), #{phone}, #{business_number}, #{zipcode}, #{addr1}, #{addr2}, #{bank}, #{account}
		)
		<selectKey keyProperty="no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<select id="dupId" resultType="Integer" parameterType="String">
		SELECT COUNT(*) FROM seller WHERE id=#{id}
	</select>
	
	<select id="detail" parameterType="int" resultType="sinhanDS.first.project.seller.vo.SellerVO">
		SELECT * FROM seller WHERE no = #{no}
	</select>

	<update id="edit" parameterType="sinhanDS.first.project.seller.vo.SellerVO">
		UPDATE seller SET
			<if test="password != ''">
				password = MD5(#{new_password}),
			</if>
			name = #{name},
			email = #{email},
			phone = #{phone},
			business_number = #{business_number},
			zipcode = #{zipcode},
			addr1 = #{addr1},
			addr2 = #{addr2},
			bank = #{bank},
			account = #{account}
		WHERE no = #{no}
	</update>
	
	
	<update id="withdrawalProduct" parameterType="int">
		UPDATE product SET withdrawal_status=1
		WHERE seller_no = #{no}
	</update>
	
	<update id="withdrawal" parameterType="int">
		UPDATE seller SET withdrawal_date=sysdate()
		WHERE no = #{no}
	</update>

	
</mapper>