<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinhanDS.first.project.seller.SellerMapper">
	<select id="login" parameterType="sinhanDS.first.project.seller.vo.SellerVO" resultType="sinhanDS.first.project.seller.vo.SellerVO">
		SELECT * FROM seller WHERE id=#{id} AND password=MD5(#{password})
	</select>
</mapper>