<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinhanDS.first.project.seller.order.SellerOrderMapper">

	<select id="getOrderNoList_bd" parameterType="int" resultType="sinhanDS.first.project.order.vo.OrderDetailVO">
		SELECT DISTINCT(order_no), seller_no FROM order_detail 
		WHERE  seller_no = #{no} AND delivery_no IS NULL AND cancle_status = 0
		ORDER BY order_no DESC;
	</select>
	
	<select id="getOrderNoList_od" parameterType="int" resultType="sinhanDS.first.project.order.vo.OrderDetailVO">
		SELECT DISTINCT(order_no), seller_no FROM order_detail 
		WHERE  seller_no = #{no} AND delivery_status = 1
		ORDER BY order_no DESC;
	</select>
	
	<select id="getOrderNoList_ad" parameterType="int" resultType="sinhanDS.first.project.order.vo.OrderDetailVO">
		SELECT DISTINCT(order_no), seller_no FROM order_detail 
		WHERE seller_no = #{no} AND delivery_status = 2 AND refound_status = 0
		ORDER BY order_no DESC;
	</select>
	
	<select id="getOrderDetails" parameterType="int" resultType="sinhanDS.first.project.order.vo.OrderDetailVO">
		SELECT * FROM order_detail WHERE order_no = #{no}
	</select>
	
	<select id="getOrderDetails_bd" parameterType="map" resultType="sinhanDS.first.project.order.vo.OrderDetailVO">
		SELECT * FROM order_detail 
		WHERE order_no = #{order_no} AND seller_no = #{seller_no} AND delivery_no IS NULL
	</select>
	
	<select id="getOrderDetails_od" parameterType="map" resultType="sinhanDS.first.project.order.vo.OrderDetailVO">
		SELECT * FROM order_detail 
		WHERE order_no = #{order_no} AND seller_no = #{seller_no} AND delivery_status = 1
	</select>
	
	<select id="getOrderDetails_ad" parameterType="map" resultType="sinhanDS.first.project.order.vo.OrderDetailVO">
		SELECT * FROM order_detail 
		WHERE order_no = #{order_no} AND seller_no = #{seller_no} AND delivery_status = 2
	</select>
	
	<select id="getOrderMainList" parameterType="int" resultType="sinhanDS.first.project.order.vo.OrderMainVO">
		SELECT * FROM order_main WHERE no = #{no}
	</select>
	
	<select id="getOrderDetailOptionList" parameterType="int" resultType="sinhanDS.first.project.order.vo.OrderDetailOptionVO">
		SELECT * FROM order_detail_option WHERE order_dno = #{order_detail_no}
	</select>
	
	<insert id="delivery_regist" parameterType="sinhanDS.first.project.delivery.vo.DeliveryVO">
		INSERT INTO delivery (
			due_date, start_date, receiver_name, receiver_phone, receiver_zipcode, receiver_addr1, receiver_addr2, 
				sender_name, sender_phone, sender_zipcode, sender_addr1, sender_addr2, status
		) VALUES (
			DATE_ADD(NOW(), INTERVAL 3 DAY), NOW(), #{receiver_name}, #{receiver_phone}, #{receiver_zipcode}, #{receiver_addr1}, #{receiver_addr2}, 
			#{sender_name} , #{sender_phone}, #{sender_zipcode}, #{sender_addr1}, #{sender_addr2}, 0
		)
		<selectKey keyProperty="no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="update_deliveryNo" parameterType="sinhanDS.first.project.order.vo.OrderDetailVO">
		UPDATE order_detail SET delivery_no = #{delivery_no}, delivery_status = 1 WHERE no = #{no}
	</update>
	
	<select id="getDeliveryVO" parameterType="int" resultType="sinhanDS.first.project.delivery.vo.DeliveryVO">
		SELECT * FROM delivery WHERE no = #{no}
	</select>
	
	<update id="cancleOrder_seller" parameterType="int">
		UPDATE order_detail SET cancle_status = 2, reason = "판매자 취소" WHERE no = #{no}
	</update>
	
</mapper>