
.header{
    		width: 1200px;
    		height: 120px;
    	}
    
	    .wrap {
            width: 100%;
            margin: 0 auto;
            /* 가운데 정렬 */
        }
        
    	.contents{
    		width: 1200px;
    	}
    	
    	.quickmenu{
    		width:12%;
    		height:100%;
    		float:left;
    	}
    	
    	.contentsright{
    		width:88%;
    		height:100%;
    		float:left;
    		padding-left:40px;
    	}
    	.footer-color {
    		position:absolute;
		 	width:1200px;
		 	background-color: #FFDE30;
		 	height:20px;
		}
		