<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinhanDS.first.project.user.order.OrderMapper">
	<sql id="whereSql">
		<where>
			(user_no = #{user_no} and isdeleted=0)
			<if test="searchWord != null and searchWord != ''">
				AND 
				<if test="searchType == 'all'">
					name LIKE '%${searchWord}%'
				</if>
				<if test="searchType != 'all'">
					${searchType} LIKE '%${searchWord}%'
				</if>
			</if>
		</where>
	</sql>
	
	<select id="getProduct" parameterType="int" resultType="sinhanDS.first.project.product.vo.ProductVO">
		SELECT * FROM product 
		WHERE no = (SELECT product_no FROM cart WHERE no=#{cart_no});
	</select>
	
	<select id="getOption" parameterType="int" resultType="sinhanDS.first.project.product.vo.ProductOptionVO">
		SELECT * FROM product_option WHERE no = #{no}
	</select>
	
	<insert id="registOrderMain" parameterType="sinhanDS.first.project.order.vo.OrderMainVO">
		INSERT INTO PetShoppingMall.order_main
		( user_no, order_date,
			payment_type, payment_company, payment_account,
			zipcode, addr1, addr2,
			isdeleted,
			total_price, total_delivery_fee,
			name)
		VALUES
		( #{user_no}, sysdate(),
			#{payment_type}, #{payment_company}, #{payment_account},
			#{zipcode}, #{addr1}, #{addr2},
			0,
			#{total_price}, #{total_delivery_fee},
			#{name});
		<selectKey keyProperty="no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="registOrderDetail" parameterType="sinhanDS.first.project.order.vo.OrderDetailVO">
		INSERT INTO PetShoppingMall.order_detail
		(
		order_no, user_no, seller_no, 
		product_no, product_name, product_price,
		charge, discount, company, brand, quantity, 
		order_date
		)
		VALUES
		(
		#{order_no}, #{user_no}, #{seller_no},
		#{product_no}, #{product_name}, #{product_price},
		#{charge}, #{discount}, #{company}, #{brand}, #{quantity},
		sysdate()
		);

		<selectKey keyProperty="no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<insert id="registOrderDetailOption" parameterType="sinhanDS.first.project.order.vo.OrderDetailOptionVO">
		INSERT INTO PetShoppingMall.order_detail_option
		(order_dno, product_no, title, content, price)
		VALUES
		(#{order_dno}, #{product_no}, #{title}, #{content}, #{price});
	</insert>
	
	<select id="getOrderListNotDeleted" parameterType="sinhanDS.first.project.product.vo.ProductSearchVO" resultType="sinhanDS.first.project.order.vo.OrderMainVO">
		SELECT * 
		FROM order_main  
		<include refid="whereSql"/>
		ORDER BY no
		LIMIT #{startIdx}, #{numberOfProductInPage}
	</select>
	
	<select id="getOrderDetailList" parameterType="int" resultType="sinhanDS.first.project.order.vo.OrderDetailVO">
		SELECT * FROM order_detail WHERE order_no=#{order_no}
	</select>
	<select id="getOrderDetailOptionList" parameterType="int" resultType="sinhanDS.first.project.order.vo.OrderDetailOptionVO">
		SELECT * FROM order_detail_option WHERE order_dno=#{order_dno}
	</select>
	
	
	<select id="getImageUrl" parameterType="int" resultType="string">
		SELECT image_url FROM product WHERE no=#{int}  
	</select>
	
	<select id="getReviewStatus" parameterType="int" resultType="int">
		SELECT count(*) FROM review WHERE order_dno=#{int}  
	</select>

	
	<select id="getNumberOfPage" parameterType="sinhanDS.first.project.product.vo.ProductSearchVO" resultType="int">
		SELECT count(*) 
		FROM order_main 
		<include refid="whereSql"/>
	</select>
	
	
	
	<update id="updateOrderMainToDeleted" parameterType="int">
		UPDATE order_main SET isdeleted=1 WHERE no=#{no}
	</update>
	<update id="purchaseConfirm" parameterType="sinhanDS.first.project.order.vo.OrderDetailVO">
		UPDATE order_detail SET purchase_confirmation_date=#{purchase_confirmation_date} WHERE no=#{no}
	</update>
	<update id="cancle" parameterType="sinhanDS.first.project.order.vo.OrderDetailVO">
		UPDATE order_detail SET cancle_status=1, reason=#{reason} WHERE no=#{no}
	</update>
	<update id="refound" parameterType="sinhanDS.first.project.order.vo.OrderDetailVO">
		UPDATE order_detail SET refound_status=1, reason=#{reason} WHERE no=#{no}
	</update>
	<select id="getReason" parameterType="sinhanDS.first.project.order.vo.OrderDetailVO" resultType="string">
		SELECT reason FROM order_detail WHERE no=#{no}  
	</select>
	
	<select id="getSellerInfo" parameterType="int" resultType="sinhanDS.first.project.seller.vo.SellerVO">
		SELECT no, zipcode, addr1, addr2 FROM seller WHERE no = #{no}  
	</select>
</mapper>