<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinhanDS.first.project.user.product.ProductMapper">
	<sql id="whereSql">
		WHERE product_category.category1 = #{category1} 
		<if test="category2 != 9999">AND product_category.category2 = #{category2} </if>
		AND price >= #{minprice} AND #{maxprice} >= price
		<if test="totalSearchWord != null and totalSearchWord != ''">
			AND (name LIKE '%${totalSearchWord}%' OR company LIKE '%${totalSearchWord}%' OR brand LIKE '%${totalSearchWord}%')
		</if>
		<if test="searchWord != null and searchWord != ''">
			<if test="searchType == 'all'">
				AND (name LIKE '%${searchWord}%' OR company LIKE '%${searchWord}%' OR brand LIKE '%${searchWord}%')
			</if>
			<if test="searchType != 'all' and searchType != null">
				AND (${searchType} LIKE '%${searchWord}%')
			</if>
		</if>
	</sql>
	<sql id="orderSql">
		ORDER BY 
		<if test="sorttype != null and sorttype != ''">
			<if test="sorttype == 'sortname'"> name ASC, </if>
			<if test="sorttype == 'sortminprice'"> price ASC, </if>
			<if test="sorttype == 'sortmaxprice'"> price DESC, </if>
		</if>
		rating DESC
	</sql>
	<sql id="limitSql">
		LIMIT #{startIdx}, #{numberOfProductInPage}
	</sql>
	<select id="Product_more" parameterType="sinhanDS.first.project.product.vo.ProductVO">
		SELECT * 
		FROM product
		where no = ${no}
	</select>
	
	<select id ="Product_more_category" parameterType="sinhanDS.first.project.product.vo.ProductCategoryVO" >
		select * from product_category
		where product_no = ${no}
	</select>
	
	<select id = "Product_more_option" parameterType="sinhanDS.first.project.product.vo.ProductOptionVO">
		select * from product_option
		where product_no = ${no}
	</select>
	
	
	<select id="QNA_list" parameterType="sinhanDS.first.project.product.vo.ProductQnAVO" resultType="sinhanDS.first.project.product.vo.ProductQnAVO">
		SELECT *  
		FROM product_qna
		where product_no = ${no} 
		ORDER BY no DESC
	</select>
	
	<select id ="Review_list" parameterType = "sinhanDS.first.project.product.vo.ReviewVO" resultType= "sinhanDS.first.project.product.vo.ReviewVO">
		SELECT * 
		FROM review
		where product_no = ${no}
		ORDER BY no DESC 
	</select>
	
	<select id="Seller_no" parameterType="sinhanDS.first.project.product.vo.ProductVO">
		SELECT seller_no
		FROM product
		where no = ${product_no}
	</select>
	
	
	<insert id="QNA_insert" parameterType="sinhanDS.first.project.product.vo.ProductQnAVO">
		INSERT INTO product_qna
		(seller_no, product_no, user_no, question_content, question_write_date, status)
		VALUES
		(#{seller_no}, #{product_no}, #{user_no}, #{question_content}, NOW(), 0);
			<selectKey keyProperty="no" order="AFTER" resultType="int">
				SELECT LAST_INSERT_ID()
			</selectKey>
    </insert>
	
	<select id="getNumberOfProduct" parameterType="sinhanDS.first.project.product.vo.ProductSearchVO" resultType="int">
		SELECT count(*)
		FROM product INNER JOIN product_category 
			ON product.no = product_category.product_no
		<include refid="whereSql"/>
		<include refid="orderSql"/>
		
	</select>
	
	<select id="product_list" parameterType="sinhanDS.first.project.product.vo.ProductSearchVO" resultType="sinhanDS.first.project.product.vo.ProductVO">
		SELECT *
		FROM product INNER JOIN product_category 
			ON product.no = product_category.product_no
		<include refid="whereSql"/>
		<include refid="orderSql"/>
	</select>
	
	<select id="total_product_search" parameterType="sinhanDS.first.project.product.vo.ProductSearchVO" resultType="sinhanDS.first.project.product.vo.ProductVO">
		SELECT DISTINCT *
		FROM product INNER JOIN product_category ON product.no = product_category.product_no
		WHERE category1 = #{category1} AND 
			(name LIKE '%${totalSearchWord}%' OR company LIKE '%${totalSearchWord}%' OR brand LIKE '%${totalSearchWord}%')
		GROUP BY product.no
		ORDER BY rating DESC
		LIMIT 5;
	</select>
	
	<select id="total_product_searchcount" parameterType="sinhanDS.first.project.product.vo.ProductSearchVO" resultType="int">
		SELECT COUNT(DISTINCT product.no)
		FROM product INNER JOIN product_category ON product.no = product_category.product_no
		WHERE category1 = #{category1} AND 
			(name LIKE '%${totalSearchWord}%' OR company LIKE '%${totalSearchWord}%' OR brand LIKE '%${totalSearchWord}%');
	</select>
	
	<insert id="cart_insert" parameterType="sinhanDS.first.project.user.vo.CartVO">
		INSERT INTO cart (
			user_no, product_no
		) VALUES (
			#{user_no}, #{product_no}
		)
		<selectKey keyProperty="no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="cart_option_insert" parameterType="sinhanDS.first.project.user.vo.CartOptionVO">
		INSERT INTO cart_option (
			cart_no, option_no
		) VALUES (
			#{cart_no}, #{option_no}
		)
	</insert>
	
	<insert id="zzim_insert" parameterType="sinhanDS.first.project.user.vo.SaveBoxVO">
		INSERT INTO save_box
		(user_no , product_no ) VALUES
		(#{user_no} , #{product_no})
		<selectKey keyProperty="no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>	
	</insert>
	
	<delete id="zzim_cancel" parameterType="sinhanDS.first.project.user.vo.SaveBoxVO">
		DELETE FROM save_box
		WHERE
		user_no = #{user_no} AND product_no = #{product_no}	
	</delete>
	
	<select id = "zzim_list" parameterType="sinhanDS.first.project.user.vo.SaveBoxVO" resultType ="sinhanDS.first.project.user.vo.SaveBoxVO">
		SELECT * 
		FROM save_box 
		WHERE user_no = ${user_no} AND product_no = ${product_no}
	</select>
</mapper>