<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinhanDS.first.project.user.UserMapper">
	<update id="edit" parameterType="sinhanDS.first.project.user.UserVO">
		UPDATE user SET
			<if test="password != ''">
				password = #{new_password},
			</if>
			name = #{name},
			email = #{email},
			phone = #{phone},
			gender = #{gender},
			birth_date = #{birth_date},
			advertisement = #{advertisement}
		WHERE no = #{no}
	</update>
	
	<select id="detail" parameterType="int" resultType="sinhanDS.first.project.user.UserVO">
		SELECT * FROM user WHERE no = #{no}
	</select>
	
	<select id="login" parameterType="sinhanDS.first.project.user.UserVO" resultType="sinhanDS.first.project.user.UserVO">
		SELECT * FROM user WHERE id=#{id} AND password=#{password}
	</select>
</mapper>