<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sinhanDS.first.project.user.UserMapper">

	<select id="check_password" parameterType="sinhanDS.first.project.user.vo.UserVO" resultType="int">
		SELECT count(*) FROM user WHERE no = #{no} AND password = MD5(#{password})
	</select>
	
	<update id="edit" parameterType="sinhanDS.first.project.user.vo.UserVO">
		UPDATE user SET
			<if test="password != ''">
				password = MD5(#{new_password}),
			</if>
			name = #{name},
			email = #{email},
			phone = #{phone},
			gender = #{gender},
			birth_date = #{birth_date},
			advertisement = #{advertisement}
		WHERE no = #{no}
	</update>
	
	<select id="detail" parameterType="int" resultType="sinhanDS.first.project.user.vo.UserVO">
		SELECT * FROM user WHERE no = #{no}
	</select>
	
	<select id="login" parameterType="sinhanDS.first.project.user.vo.UserVO" resultType="sinhanDS.first.project.user.vo.UserVO">
		SELECT * FROM user WHERE id=#{id} AND password=MD5(#{password})
	</select>
	
	<insert id="user_regist" parameterType="sinhanDS.first.project.user.vo.UserVO">
		INSERT INTO user (
			id, name, email, password, phone, birth_date, gender, advertisement , join_date
		) VALUES (
			#{id}, #{name}, #{email}, MD5(#{password}), #{phone}, #{birth_date}, #{gender}, #{advertisement} , NOW()
		)
		<selectKey keyProperty="no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="initaddr_regist" parameterType="sinhanDS.first.project.user.vo.UserAddressVO">
		INSERT INTO address (
			user_no, zipcode, addr1, addr2, name, phone, comment
		) VALUES (
			#{user_no}, #{zipcode}, #{addr1}, #{addr2}, #{name}, #{phone}, '기본'
		);
	</insert>
	
	<insert id="user_address_regist" parameterType="sinhanDS.first.project.user.vo.UserVO">
		<!-- 생각해보니 저희 이거 uservo로 못받아옴........새 vo하나 파야할거같음; -->
	</insert>

	<select id="dupId" resultType="Integer" parameterType="String">
		SELECT COUNT(*) FROM user WHERE id=#{id}
	</select>
	
	<select id="exist_addr" parameterType="int" resultType="sinhanDS.first.project.user.vo.UserAddressVO">
		SELECT * FROM address WHERE user_no = #{user_no}
	</select>
	
	<insert id="insert_addr" parameterType="sinhanDS.first.project.user.vo.UserAddressVO">
		INSERT INTO address (
			user_no, zipcode, addr1, addr2, name, phone, comment
		) VALUES (
			#{user_no}, #{zipcode}, #{addr1}, #{addr2}, #{name}, #{phone}, #{comment}
		)
		
	</insert>
	
	<update id="modify_addr" parameterType="sinhanDS.first.project.user.vo.UserAddressVO">
		UPDATE address SET
			zipcode = #{zipcode},
			addr1 = #{addr1},
			addr2 = #{addr2},
			name = #{name},
			phone = #{phone},
			comment = #{comment}
		WHERE no = #{no}
	</update>
	
	<delete id="delete_addr" parameterType="int">
		DELETE from address WHERE no=#{no}
	</delete>
	
	<select id="exist_payment" parameterType="int" resultType="sinhanDS.first.project.user.vo.PaymentVO">
		SELECT * FROM payment WHERE user_no = #{user_no}
	</select>
	
	<insert id="insert_payment" parameterType="sinhanDS.first.project.user.vo.PaymentVO">
		INSERT INTO payment (
			user_no, name, type, company, account, valid_date, cvc
		) VALUES (
			#{user_no}, #{name}, #{type}, #{company}, #{account}, #{valid_date}, #{cvc}
		)
		
	</insert>
	
	<update id="modify_payment" parameterType="sinhanDS.first.project.user.vo.PaymentVO">
		UPDATE payment SET
			name = #{name},
			account = #{account},
			type = #{type},
			company = #{company}
			<if test="type eq 0">
				,valid_date = #{valid_date}
				,cvc = #{cvc}
			</if>
		WHERE no = #{no}
	</update>
	
	<delete id="delete_payment" parameterType="int">
		DELETE from payment WHERE no=#{no}
	</delete>
	
	
	<select id="exist_cart" parameterType="int" resultType="sinhanDS.first.project.user.vo.CartVO">
		SELECT * FROM cart WHERE user_no = #{no}
	</select>
	
	<select id="search_cart_product" parameterType="int" resultType="sinhanDS.first.project.product.vo.ProductVO">
		SELECT * FROM product WHERE no = #{product_no}
	</select>
	
	<select id="cart_option_number" parameterType="int" resultType="sinhanDS.first.project.user.vo.CartOptionVO">
		SELECT * FROM cart_option WHERE cart_no = #{no}
	</select>
	
	<select id="get_product_option" parameterType="int" resultType="sinhanDS.first.project.product.vo.ProductOptionVO">
		SELECT * FROM product_option WHERE no = #{option_no}
	</select>
	
	
	
	<!-- (신정훈) 12 / 18 찜 리스트 구현 -->
	<select id = "zzim_list" parameterType="sinhanDS.first.project.user.vo.SaveBoxVO">
		SELECT * 
		FROM  save_box  
		where user_no = ${user_no}
	</select>
	
	<select id = "user_list" parameterType="sinhanDS.first.project.user.vo.UserVO">
		SELECT * FROM  user
		where no = ${user_no}
	</select>
	
	<select id = "product_list" parameterType="sinhanDS.first.project.product.vo.ProductVO">
		SELECT * FROM  product
	</select>
	
	
	<!-- (신정훈) 12 / 18 리뷰 리스트 구현 -->
	<select id = "review_list" parameterType = "sinhanDS.first.project.product.vo.ReviewVO">
		SELECT * FROM review
		where user_no = ${user_no}
	</select>
	
	<select id = "order_detail" parameterType = "sinhanDS.first.project.order.vo.OrderDetailOptionVO">
		SELECT * FROM order_detail
	</select>
	
	<select id = "order_detail_option" parameterType = "sinhanDS.first.project.order.vo.OrderDetailOptionVO">
		SELECT * FROM order_detail_option
	</select>
	

	
	
	
	
	
</mapper>